.login-wrapper
  .box
    .content-wrap
      = semantic_form_for resource, as: resource_name, url: registration_path(resource_name), html:{ class: "compact" } do |f|
        = devise_error_messages!

        = f.inputs :sign_up do
          = f.inputs :first_name, :last_name, :email
          - if resource.password_required?
            = f.inputs :password, :password_confirmation

        = f.actions class: "actions"
  
  .no-account
    = render "devise/shared/links"