.row
  .col-md-12
    %h5.title
      %i.icon-user
      = t "formtastic.titles.user.personal_info"

%img.profile-image-small{src: @user.profile_image.small_thumb}
%img.profile-image-medium{src: @user.profile_image.medium_thumb}

.row
  .col-md-9.personal-info.with-sidebar
    = semantic_form_for @user, url: user_settings_path do |f|
      = f.error_messages
      = f.inputs :first_name, :last_name
      = f.input :time_zone, as: :time_zone
      = f.input :profile_image, as: :file
      = f.input :profile_image_cache, as: :hidden
      = f.actions class: "actions"

  .col-md-3.form-sidebar
    hola
