<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/detail_admin/head" %>
  </head>
  <body ng-app="grabnote">
    <%= render partial: "layouts/detail_admin/nav", locals: {sidebar: true} %>
      <!-- main container -->
    <div class="content">
      <div id="pad-wrapper">
        <%= render partial: "layouts/alerts" %>

        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
  <!-- Include Firebase -->
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <%= javascript_include_tag "application" %>
</html>
